@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  /* color: #e11d473c; */
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.pagination {
  @apply text-xs sm:text-sm pt-3 lg:pt-0 lg:pl-3 leading-[14px] text-primary-100 ease-in-out duration-500 rounded-xl;
}

.footer-link {
  @apply text-gray-900 text-lg font-bold hover:text-secondary-100 transition-all duration-500;
}
